extends layout

block content
    table
        each event in events
            h2 #{event.name}
            h3 #{new Date(event.date).toLocaleString()}
            each applicant in event.applicants
                tr
                    td #{applicant.name}
                    td #{applicant.email}
                    td #{new Date(applicant.time).toLocaleString()}
